      {% if questions %}
     <h3 style="text-align:center">
	IDENTIFIED SYMPTOMS
     <h5 style="text-align:center"> "You can remove by selecting it" </h4>
     </h3>
     <div style="margin-top:5%;margin-bottom:5%">
     {% for each in symptoms %}
	{% if symptoms[each] == "yes" %}
	<form action="/remove" method="POST">
	<div class="col-md-4" style="background-color:white;text-align:left">
	<button type="submit" name = "action" value= "{{each}}" class="close" aria-label="Close"> 
	<input style="text-align:center" type="button" class="btn btn-success" name ="symp" value= "{{each}}" />
	<span aria-hidden="true">&times;</span>
	</button>
	</form>
	</div>
	{% endif %}
     {% endfor %}
     </div>
     {% for each in questions %}
     <form action="/symptom" method="POST" style="margin-top:100px">

     <div class="form-group ">
     <h3 style="text-align:left" style="margin-top:5%">
	Question:
     </h3>
      <input class="form-control" id="name" name="symptom" placeholder={{each}} type="text"  value= "{{each}}" readonly/>
      <h3 style="text-align:center">
      <input style="text-align:center" type="submit" class="btn btn-success" name= "action" value="Yes" />
      <input style="text-align:center" type="submit" class="btn btn-success" name= "action" value="No" />
      </h3>
     </div>
     </form>

     {% endfor %}

    
     {% else %}

     	 <form action="/symptom" method="POST" style="margin-top:5%">
     <div class="form-group ">
      <input class="form-control" id="name" name="symptom" placeholder="Symptoms?" type="text" />
      <h3 style="text-align:center">
    <input style="text-align:center" type="submit" class="btn btn-success" value="Submit" name = "action" />
    </h3>
     </div>
     </form>
    
     {% endif %}


     {% if not disease or disease == "null"  %}
	<div> </div>
     {% else %}	
	<div  class="panel panel-default" style="margin-bottom:10%" >
	<div class="panel-heading"style="text-align:center;background-color:black;color:white"><strong>Suspected Disease</strong></div>
	<div class="panel-body" style="text-align:justify;background-color:white;color:black">
	<h4> {{ disease }} </h4>
	<form action="/clear" method="POST" style="margin-top:5%">
     <div class="form-group ">
      <h3 style="text-align:center">
    <input style="text-align:center" type="submit" class="btn btn-success" value="clear" name = "action" />
    </h3>
     </div>
     </form>
	</div>	
	</div>
     {% endif %}

