{% extends 'base.html' %}

{% block body %}


{% include 'nav.html' %}

<!-- home section -->
<section id="home"  >
	<div class="container" >
		<div class="row">
			<div id= "hide" class="col-md-12 col-sm-12" >
				<h3>Habitual monitor</h3>
				<h1>COMTOR</h1>
				<hr>
				<a href="/livetest" class="smoothScroll btn btn-danger">Play normal</a>
			</div>
		</div>
	</div>		
</section>



<!-- work section -->
<section id="work">
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-sm-12">
				<div class="section-title">
					<strong>Tweet monitor</strong>
					<h1 class="heading bold">Detect habit bully</h1>
					<hr>
				</div>
			</div>
		</div>
	</div>
</section>



{% endblock %}
